.profile .make_bg_grey{
        background-color : #f5f5f5;
        border-radius: 10px;
}

.profile .heading{
    background-color : #f5f5f5;
    border-radius: 30px;
}

.profile .button{
    padding: 5px;
    border-radius: 10px 5px;
}