@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');



h3{
    font-family: 'Secular One', sans-serif;
}

.h1{
    font-weight: 700;
	font-size: 3rem;
	line-height: 4.25rem;
	letter-spacing: 1px;
    font-family: 'Secular One', sans-serif;
    
}

.p-small{
    font-size: 1.125rem;
	line-height: 1.5rem;
    letter-spacing: 1px;
    font-family: 'Amaranth', sans-serif;
    
}

.p-large{
    font-size: 1.5rem;
	line-height: 1.75rem;
    letter-spacing: 1px;
    font-family: 'Amaranth', sans-serif;
}

.login_border{
    border : 1px solid #778087;
    border-radius : 5px;
}

.navbar_option{
    position: relative;
    float: right;
}

.innerNavbar{
    border-bottom: 2px solid #e6ecf2;
}
.outerNavbar{
    background-color: #e6ecf2;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.fixed-top{
    position: fixed;
  }



