@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');


.outerNavbar .login_border{
    border : 3px solid white;
    border-radius : 5px;
}

.outerNavbar .navbar_option{
    position: relative;
    float: right;
}

.outerNavbar .innerNavbar{
    border-bottom: 2px solid #e6ecf2;
}
.outerNavbar {
    background: #ad5389; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}




