
.header{
    padding-top: 100px;
}

.top_header_button{
    background-color : #3c4852;
    color : white;
    width : 50%;
    border-radius : 10px ;
}


.set_background{
    background-color : #e8e3ff ;
    border-radius: 30px ;
}

.learn_outer{
}

.numbering{
    background-color : #3c4852;
    color : white ;
    border-radius : 20px ;
}



