
.home_hero_section .header{
    padding-top: 100px;
}

.home_hero_section .top_header_button{
    background-color : #3c4852;
    color : white;
    width : 50%;
    border-radius : 10px ;
}


.home_hero_section .set_background{
    background-color : #e8e3ff ;
    border-radius: 30px ;
}

.home_hero_section .numbering{
    background-color : #3c4852;
    color : white ;
    border-radius : 20px ;
}



